#navbar{
    display: flex;
    flex-direction: row;
    gap: 1vw;
  
    overflow: hidden;
    background-color: rgba(14, 47, 66, 1);
  
    padding: 2.5vh;
  
    font-size: 1.5vw;
    font-family: "Monaco", "Courier New", monospace;
    font-weight: bold;
  
    color: white;
  

  }
  #navbar-title{
      margin-right: 60vw;

  }

  #navbar:hover{
      cursor: pointer;
  }